:root {
    --fg: #212529;
    --bg: #f8f9fa;
}

body {
    color: var(--fg);
    background-color: var(--bg);
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    font-size: 16px;
    max-width: 80ch;
    margin: 0 auto;
    padding: 2rem;
}

header {
    background-color: var(--bg);
    border: 1px var(--fg) solid;
    padding: 0 1rem;
}

h1,h2,h3 {
    font-size: inherit;
    border-bottom: 2px var(--fg) solid;
    padding-bottom: .5rem;
    margin: 1.5rem 0;
}

a {
    color: var(--fg);
}

a:hover, a:focus {
    color: var(--bg);
    background-color: var(--fg);
}

strong {
    color: var(--bg);
    background-color: var(--fg);
}

code:not(pre code) {
    font-weight: bold;
}

pre:has(code) {
    border: 1px var(--fg) solid;
    padding: 1rem;
    overflow-x: auto;
}

@media (prefers-color-scheme: dark) {
    :root {
        --fg: #f8f9fa;
        --bg: #212529;
    }
}
