:root {
    --fg: #ebdbb2;
    --bg: #282828;
    --bg1: #3c3836;
    --gray: #928374;
    --yellow: #fabd2f;
    --blue: #83a598;
    --green: #b8bb26;
}

* {
    box-sizing: border-box;
}

body {
    color: var(--fg);
    background-color: var(--bg);
    font-family: monospace;
    font-size: 1rem;
    line-height: 1.5;
    max-width: 60ch;
    margin: 2rem auto;
    padding: 0 2ch;
}

header {
    display: flex;
    font-weight: bold;
    flex-direction: row;
    align-items: center;
    gap: 1ch;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

header h1 {
    color: var(--bg);
    background-color: var(--yellow);
    padding: 0.25rem 1ch;
    margin: 0;
}

nav > a {
    transition: opacity 0.2s;
}

nav:hover a:not(:first-child):not(:hover) {
    opacity: 0.2;
}

/* Margins */

p,
h1,
h2,
h3 {
    margin: 1rem 0;
}

/* Block elements */

h1,
h2,
h3 {
    color: var(--yellow);
    font-size: inherit;
}

ul {
    padding-left: 2ch;
}

ul > li::marker {
    content: "- ";
}

summary > * {
    display: inline;
}

summary::marker {
    content: "[+] ";
    color: var(--gray);
    transition: color 0.2s;
}

summary:hover::marker {
    color: var(--fg);
}

details[open] > summary::marker {
    content: "[-] ";
    color: var(--fg);
}

/* Inline elements */

a {
    color: var(--blue);
}

a:hover:not(nav a) {
    text-decoration: none;
}

code {
    border: 1px solid var(--gray);
    padding: 0.125ch 1ch;
}

/* Section boxes */

section {
    border: 1px solid var(--gray);
    padding: 1.5ch;
    margin: 1rem 0.5ch;
    transition: border-color 0.2s;
}

section:hover {
    border-color: var(--fg);
}

section *:first-child {
    margin-top: 0;
}

section *:last-child {
    margin-bottom: 0;
}

/* Custom classes */

.yellow {
    color: var(--yellow);
}

.blinking {
    animation: blink-animation 1s none infinite;
}

/* Keyframes */

@keyframes blink-animation {
    50% {
        opacity: 0;
    }
}

