:root {
    --text: #ebdbb2;
    --accent: #fabd2f;
    --link: #83a598;
    --background: #282828;
}

* {
    scroll-behavior: smooth;
}

body {
    color: var(--text);
    background-color: var(--background);
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    font-size: 1rem;
    line-height: 1.5;
    padding: 2rem;
    margin: 0 auto;
    max-width: 60ch;
}

h1,h2,h3,p,pre {
    margin: 1rem 0;
}

h1,h2,h3 {
    font-size: inherit;
}

h1 {
    color: var(--background);
    background-color: var(--text);
    text-align: center;
}

h1::before {
    content: '# ';
}

h2::before {
    content: '## ';
    color: var(--accent);
}

h3::before {
    content: '### ';
    color: var(--accent);
}

a {
    color: var(--link);
}

a:hover {
    color: var(--background);
    background-color: var(--link);
    text-decoration: none;
}

.accent {
    --link: var(--accent);
    color: var(--accent);
}

blockquote {
    border-left: var(--accent) 4px solid;
    padding: 4px 1rem;
}

code, pre {
    font-family: inherit;
}

code:not(pre code) {
    color: var(--accent);
}

pre {
    border: 1px var(--text) solid;
    padding: 1rem 1ch;
    overflow: auto;
}

ul {
    padding: 0 2ch;
    list-style: none;
    position: relative;
}

li::before {
    position: absolute;
    left: 0;
    content: '-';
    color: var(--accent);
}

hr {
    border: none;
    margin: 1.5rem 0;
    text-align: center;
}

hr::after {
    content: '---';
    color: var(--text);
}

footer {
    margin-top: 4rem;
    text-align: center;
}
