:root {
    --text: #ebdbb2;
    --accent: #fabd2f;
    --background: #282828;
    --code-background: #eee;
}

* {
    scroll-behavior: smooth;
}

body {
    color: var(--text);
    background-color: var(--background);
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace; 
    font-size: 1rem;
    line-height: 1.6;
    padding: 2rem;
    margin: 0 auto;
    max-width: 60ch;
}

h1,
h2,
h3 {
    font-size: inherit;
}

h1::before {
    content: '# ';
    color: var(--accent);
}

h2::before {
    content: '## ';
    color: var(--accent);
}

h3::before {
    content: '## ';
    color: var(--accent);
}

a {
    color: #83a598;
}

blockquote {
    border-left: var(--accent) 4px solid;
    padding: 4px 1rem;
}

code, pre {
    font-family: monospace;
    background-color: var(--code-background);
    border-radius: 4px;
}

code:not(pre code) {
    padding: 2px;
}

pre {
    padding: 16px;
    overflow: auto;
}

nav {
    margin-bottom: 2rem;
}

footer {
    margin-top: 4rem;
    text-align: center;
}
